 .container {
  font-family: 'PT sans';
}

.header {
  background-image: url(images/background.png);
}

.header img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  width: 200px;
  transition: width 2s;
}

.navbar {
  background-color: #333333;
  overflow: hidden;
  font-weight: normal;
  text-align: center;
}

.navbar a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 12px 16px;
  text-decoration: none;
  font-size: 13px;
  vertical-align: middle;
}

.navbar a:hover {
  background-color: #ddd;
  transition: .7s;
  color: black;
}

.navbar a.active {
  background-color: #ffcc00;
  color: black;
}

.bodycontainer {
    float: left;
    padding: 25px;
}

.bodycontainer .body {
  width: 56%;
  float: left;
  text-align: left;
  line-height: 1.6em;
}

.bodycontainer .side img {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.bodycontainer .side {
  width: 22%;
  float: left;
  text-align: center;
}

@media screen and (max-width: 1125px) {
  .bodycontainer .body {
    width: 100%;
  }
  .bodycontainer .side {
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .header {
    background-image: none;
  }

  .navbar a {
    margin: 0;
    display: block;
    float: none;
  }

  .navbar {
    margin: 0 auto;
    width: 80%;
  }

  .bodycontainer .body, .bodycontainer .side {
    width: 100%;
  }

}

.footer {
  text-align: center;
  font-size: 9pt;
  padding-top: 20px;
  width: 100%;
}
